@import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "K2D", sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
}

/**CONTENEDOR */
.container {
  background: red;
  width: 70%;
  padding-top: 60px;
}
